body {
	background-color: black;
	color: white;
	font-family: sans-serif;
}
h1, h2, h3 {
	color: #8A2BE2;
}
a {
	border-bottom: 1px dotted #8A2BE2;
	color: #8A2BE2;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #8A2BE2;
	color: #8A2BE2;
	text-decoration: none;
}
